
[user]
	email = zhang.jingming@hellogroup.com
	name = zhang.jingming

[init] 
	defaultBranch = main

[alias] 
	ll = log --all --graph --decorate --oneline
	l = log --all --graph --decorate
	s = status
[color]
	ui = auto
[pull]
	ff = only
	rebase = true
