
[user]
	email = dieter.anagram_0t@icloud.com
	name = Sagiring

[init] 
	defaultBranch = main

[alias] 
	ll = log --all --graph --decorate --oneline
	l = log --all --graph --decorate
	s = status
[color]
	ui = auto
